//= require_tree .
//= require_self

@import "bootstrap-sprockets"
@import "bootstrap"
@import "bootswatch/lumen/bootswatch"
@import "font-awesome"

.container
  width: 90%
.error
  color: red
.valid
  background: red
.income
  background: rgba(0, 204, 0, 0.4) 
.outgo
  background: rgba(255, 102, 0, 0.4)