//= require_tree .
//= require_self

@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome"

body
  overflow-x: hidden
  background: linear-gradient(rgba(0,0,102, 0.65),rgba(0,0,102, 0.65)), url(images/Dollars.jpg)
  background-attachment: fixed
::-webkit-scrollbar
  display: none

.container
  width: 90%
.error
  color: rgb(184, 0, 0)
  background: rgba(255,255,255,0.5)
  padding: 0.5em
.valid
  background: red
.income
  background: rgba(0, 204, 0, 0.7)
.outgo
  background: rgba(255, 102, 0, 0.7)
.list-group-item
  border-radius: 0
  border: none
.list-group-item:last-child, .list-group-item:first-child
  border-radius: 0
.form-control
  border-radius: 0
.white
  color: #fff

// BUTTONS==================================================================
.btn
  border-radius: 0
  border: none
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.62)
  text-transform: uppercase
  font-weight: 600