<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="main" ng-controller="RootCtrl">
        <div ng-include="'<%= asset_path('application/templates/_header.html') %>'"></div>

    <div class="container well" ui-view></div>

</body>
</html>
